#Portfolio {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  background-color: rgb(63, 66, 66);
}
#Portfolio img {
  width: 11rem;
  height: 9rem;
}
#Portfolio a {
  color: khaki;
}
#first {
  display: block;
  text-align: center;
  margin: 10px;
  color: khaki;
}
#first img {
  opacity: 80%;
}
#second img {
  opacity: 80%;
}
#third img {
  opacity: 80%;
}
#second {
  display: block;
  text-align: center;
  margin: 10px;
}
#third {
  display: block;
  text-align: center;
  margin: 10px;
}
/**MEDIA **/
/**mobile **/
@media (max-width: 600px) {
  #Portfolio {
    gap: 2px;
    margin-top: 10px;
  }
  #Portfolio img {
    width: 6rem;
    height: 6rem;
  }
  #first {
    margin: 10px;
    font-size: 15px;
  }
  #second {
    margin: 10px;
    font-size: 15px;
  }
  #third {
    margin: 10px;
    font-size: 15px;
  }
  #visit {
    display: none;
  }
}

/**tablet **/
@media (min-width: 601px) and (max-width: 1024px) {
  #Portfolio {
    gap: 2rem;
    width: 100%;
  }
}
